.yourName {
  animation: fadeIn;
  animation-duration: 1500ms;

  .title {
    align-self: center;
    text-align: center;
    border-bottom: 2px dashed black;
    padding-bottom: 5px;
    width: 100%
  }

  .yourName__container {
    display: flex;
    column-gap: 100px;
  }
}


@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .yourName__container {
    row-gap: 30px;
    flex-direction: column;
  }
}