.yourName {
  animation: fadeIn;
  animation-duration: 1500ms;

  .title {
    align-self: center;
    text-align: center;
    border-bottom: 2px dashed black;
    padding-bottom: 5px;
    width: 100%
  }

  .yourName__container {
    display: flex;
    justify-content: space-around;
    column-gap: 100px;
  }

  .yourName__box--wait {
    animation: heartBeat;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    background: rgba(255, 165, 0, 0.38);

    padding: 10%;
    max-width: 400px;
    max-height: 200px;
    border-top-left-radius: 78px 28px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    border: solid 3px #6e7491;
    place-self: center;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  .box__title{
    font-size: 40px;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke: 1px black;
    .box__title--sub{
      font-size: 30px;
      color: #23b2f5;
    }
  }
    .box__text {
      .box__text--animated {
        color: red;
        font-size: 26px;
        font-weight: bolder;
        inline-size: 3px;
        initial-letter: revert;
        -webkit-text-stroke: 1px black;

      }
    }

  }

}


@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .yourName__container {
    row-gap: 30px;
    flex-direction: column;
  }
}