.yourName {
  .form__name {
    width: 100%;
  }

  .form__name Input {
    /*justify-content: center;*/
  }

  .yourName__container {
    display: flex;
    column-gap: 100px;
  }

  .yourName__form {
    min-width: 40%;
  }

}


@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .yourName__container {
    row-gap: 30px;
    flex-direction: column;
  }
}