.header__navigation {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: white;


  .navbar {
    background: rgba(239, 127, 18, 0.74);
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    display: flex;
    //flex-grow: 1;
    flex-direction: column;
    position: relative;
    border: solid 3px #6e7491;
    border-top: none;
    width: 65%;
    margin: 0 auto 30px;
    font-size: 17px;
    line-height: 28px;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
  }

  .main-nav {
    list-style-type: none;
    flex-grow: 1;
    display: none;
    padding: 0;
  }

  .nav-links,
  .logo {
    font-size: 32px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .main-nav li {
    text-align: center;
    //margin: 15px auto;
  }

  .logo {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-self: center;
    align-self: center;

    &:hover {
      animation: heartBeat;
      animation-duration: 800ms;
    }

  }

  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.74);
    font-size: 32px;
  }

  #chkToggle {
    display: none;
  }

  #chkToggle:checked + ul.main-nav {
    display: block;
  }

  @media screen and (min-width: 1000px) {
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 10px;
      height: 80px;
      align-items: center;
    }

    #chkToggle:checked + ul.main-nav {
      display: flex;
    }

    .main-nav {
      display: flex;
      margin-right: 3%;
      column-gap: 5%;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .logo {
      margin-left: 3%;
      align-self: center;
      justify-self: left;
    }

    .navbar-toggle {
      display: none;
    }
  }

  .nav-links {
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.6s;
    margin-top: -10px;
    padding-bottom: 5px;

    &:hover {
      color: black;
    }
  }

  .link--active {
    color: #000000;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    cursor: pointer;
    transform: rotate(-2deg);
  }
}


