.generateKidName {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    align-self: center;
    text-align: center;
    border-bottom: 2px dashed black;
    padding-bottom: 5px;
    width: 100%
  }

  .generateKidName__container {
    margin-top: 30px;
    display: flex;
    column-gap: 100px;
    justify-content: space-around;
    //width: 100%;

    .generateKidName__table {
      max-width: 50vw;
    }
  }
}


@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .generateKidName__container {
    row-gap: 30px;
    flex-direction: column;
  }
}