

.home {
  animation: fadeIn;
  animation-duration: 1500ms;

  .box {
    display: flex;
    flex-direction: column;

    .title {
      align-self: start;
      width: 100%;
      border-bottom: black solid 3px;
      padding-bottom: 5px;
    }

    .description {
      align-self: center;
    }

    .list {
      list-style-type: none;

      .description {
        margin-left: -5%;
      }

      .list__item {
        padding: 15px 0;
      }
    }

    .text--ending {
      align-self: end;
    }
  }

}