.generateKidName__form {
  border-top-left-radius: 21px 140px;
  border-top-right-radius: 70px 110px;
  border-bottom-left-radius: 42px 110px;
  border-bottom-right-radius: 120px 42px;
  border: solid 3px #6e7491;
  padding: 3%;
  max-height: 400px;
  width: 100%;
  max-width: 300px;

  .form__title {
    padding: 16px 0;
    margin: 0 0 0 5%;
    font-size: 28px;
  }

  .form__text {

  }

  .slider__desc {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
  }

}


@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  .generateKidName__form {
    border-radius: 0;
    border: none;
    border-bottom: 2px dashed #224fac;
    width: 100%;
    padding-bottom: 50px;

  }
}