.footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  margin-top: 80px;
  z-index: -1;

  .footer__box {
    background: #62cbf2;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    flex-direction: column;
    border-top-right-radius: 37px 140px;
    border-top-left-radius: 23px 130px;
    display: block;
    position: relative;
    border: solid 3px #6e7491;
    border-bottom: none;
    padding: 20px 30px 10px 60px;
    width: 65%;
    margin: 50px auto 0;
    font-size: 17px;
    line-height: 28px;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;

    .footer__logo{
      color: white;
      font-size: 40px;
      text-decoration: none;
      -webkit-text-stroke: 1px black;
    }

    .footer__left--container p {
      color: #ffffff;
      -webkit-text-stroke: 1px rgba(162, 161, 161, 0.74);
      font-size: 16px;
      margin: 0;
    }

    p.footer--links {
      font-size: 18px;
      font-weight: bold;
      color: #a82828;
      margin: 0 0 10px;
      padding: 0;
    }

    p.footer--links a {
      display: inline-block;
      line-height: 1.8;
      text-decoration: none;
      color: inherit;
    }

    .footer__right--container {
      float: right;
      margin-top: 6px;
      margin-right: 30px;
      max-width: 180px;

    }

    .footer__right--container a {
      display: inline-block;
      justify-content: center;
      align-content: center;
      align-items:  center;
      width: 35px;
      height: 35px;
      background-color: #62cbf2;
      border-radius: 2px;
      font-size: 20px;
      color: #ffff;
      text-align: center;
      line-height: 35px;
      margin-left: 5px;
    }

    @media (max-width: 600px) {
      padding: 20px 30px 10px 30px;

      .footer__left--container,
      .footer__right--container {
        text-align: center;
      }

      .footer__right--container {
        display: flex;
        justify-content: center;
        column-gap: 16px;
        float: none;
        margin: 20px auto;
      }

       .footer__left--container p.footer--links {
        line-height: 1.8;
      }
    }
  }
}


